.text1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5px;
}

.b-left {
  border-left: 4px solid #f9c65b;
  padding: 10px 0;
  padding-left: 5px;
}

#pp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

.txt1 {
  color: white;
  font-size: 60px;
}

.txt2 {
  color: white;
  font-size: 60px;
}

.txt3 {
  color: white;
  font-size: 60px;
}

.dad {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
}

.dad2 {
  display: flex;
  flex-direction: row;

  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
  margin-left: 100px;
  margin-top: 80px;
}

.head1 {
  margin-left: 100px;
  margin-bottom: 100px;
}

.side1 {
  width: 50%;
  float: right;
}

.son1 {
  background-color: #0bce82;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  text-align: center;
  margin-left: 200px;
}

.son1::after {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  background-color: #ffffff00;
  border-radius: 50%;
  border: 2px solid;
  margin: -220px 30px auto;
  position: absolute;
  z-index: -1;
}

.son2 {
  background-color: #0bce82;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  text-align: center;
}

.son2::after {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  background-color: #ffffff00;
  border-radius: 50%;
  border: 2px solid;
  margin: -220px 30px auto;
  position: absolute;
  z-index: -1;
}

.son3 {
  background-color: #0bce82;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  text-align: center;
  margin-right: 200px;
}

.son3::after {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  background-color: #ffffff00;
  border-radius: 50%;
  border: 2px solid;
  margin: -220px 30px auto;
  position: absolute;
  z-index: -1;
}

.side1 img {
  margin-right: 100px;
  margin-top: 120px;
  float: right;
  width: 500px;
  box-shadow: 0px 5px #f9c65b, 0px -5px #f9c65b;
}

#btn {
  background-color: #0bce82;

  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-weight: bold;
}

#btn:hover {
  background-color: #0bb677;
  color: white;
}
