/* HorizontalPills.css */
.horizontal-pills {
  margin-top: 3vmax;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  padding: 100px 0;
  z-index: 0;
}
.horizontal-pills::before {
  content: "";
  width: 109%;
  height: 116%;
  background-color: #fff;
  position: absolute;
  top: -5%;
  left: 52%;
  transform: translate(-50%, -50%) rotate(0);
  z-index: -1;
  clip-path: polygon(0% 53%, 47.5% 0%, 100% 53%, 30.64% 80.46%);
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%) rotate(0);
}
.horizontal-pills::after {
  content: "";
  width: 109%;
  height: 116%;
  background-color: #fff;
  position: absolute;
  top: 103%;
  left: 52%;
  transform: translate(-50%, -50%) rotate(0);
  z-index: -1;
  clip-path: polygon(0% 53%, 47.5% 0%, 100% 53%, 30.64% 80.46%);
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%) rotate(180deg) scaleX(-1);
}

.horizontal-pills .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0bce82;
  top: 0;
  left: 0;
  z-index: -2;
}

.horizontal-pills > :nth-child(1) {
  width: 35%;
}
.horizontal-pills > :nth-child(2) {
  width: 45%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.horizontal-pills__tabs {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.horizontal-pills__tabs__tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.horizontal-pills__tabs__tab__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.horizontal-pills__tabs__tab__img img {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.horizontal-pills__tabs__tab__info {
  display: flex;
  flex-direction: column;
}
.horizontal-pills__tabs__tab__info span > * {
  width: 15px;
  fill: #f4f424;
}
.horizontal-pills__tabs__tab__info > * {
  margin: 5px 0;
}

.horizontal-pills__tabs__tab.active {
  background-color: #fff;
}

.horizontal-pills__content {
  position: relative;
  width: 100%;
  padding: 85px 30px 20px 50px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.horizontal-pills__content__img {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
  margin-bottom: 10px;
  top: 0;
  left: 50%;
  transform: translate(calc(-50% - -5px), -50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(calc(-50% - -5px), -50%);
  -moz-transform: translate(calc(-50% - -5px), -50%);
  -ms-transform: translate(calc(-50% - -5px), -50%);
  -o-transform: translate(calc(-50% - -5px), -50%);
}
.horizontal-pills__content__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.horizontal-pills__content__text h2 {
  margin: 0;
  margin-bottom: 10px;
}
.horizontal-pills__content__text p {
  margin: 0;
  margin-top: 5px;
  font-size: 1.1rem;
  color: #fcefef;
}
@media (max-width: 768px) {
  .horizontal-pills {
    flex-direction: column;
    padding: 50px 0;
  }
  .horizontal-pills::before {
    /* reset */
    all: unset;
  }
  .horizontal-pills::after {
    all: unset;
  }
  .horizontal-pills > :nth-child(1) {
    width: 100%;
  }
  .horizontal-pills > :nth-child(2) {
    width: 95%;
    margin: 0 10px;
  }

  .horizontal-pills__tabs {
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: scroll;
    gap: 10px;
    padding: 10px 0;
    margin-bottom: 80px;
  }
  .horizontal-pills__tabs__tab {
    width: 230px;
    height: 150px;
    padding: 10px;
  }
  .horizontal-pills__tabs__tab__img {
    width: 50px;
    height: 50px;
  }
  .horizontal-pills__content {
    padding: 50px 30px 20px 30px;
  }
  .horizontal-pills__content__img {
    width: 100px;
    height: 100px;
  }
  .horizontal-pills__content__text h2 {
    font-size: 1.2rem;
  }
  .horizontal-pills__content__text p {
    font-size: 1rem;
  }
}
